@media screen and (min-width: 375px) {
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}
body {
    background-color: white;
    color: white;
    transition: background-color 5s;
    overflow-x: hidden;
}
footer {
    position: fixed;
    bottom: 5px;
    color: rgba(0,0,0,.65)
}
.backgroundContainer {
    position: fixed;
    background-color: black;
    margin: 0;
    top: -10px;
    z-index: -1;
    opacity: .5;
    transition: opacity 5s;
}
.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    transition: 1s;
}
.menuText {
    display: block;
    height: 30px;
    width: 100px;
    margin-top: -25px;
    opacity: 1;
    text-align: center;
    line-height: 15px;
    z-index: 1;
}
.themeMenu {
    position: fixed;
    height: fit-content;
    width: 100px;
    font-family: 'Oxygen', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    top: 40px;
    right: 10px;
    color: rgba(255,255,255,1);
    background-color: #0E5966;
    opacity: 0.7;
    border-radius: 10px;
    margin-right: -105px;
    transition: margin .5s;
}
.themeMenu:hover {
    margin-right: -15px;
}
.themeNotch {
    display: flex;
    position: relative;
    height: 40px;
    width: 20px;
    background-color: #0E5966;
    margin: 0;
    top: 3px;
    left: 2px;
    border-radius: 10px;
    margin-right: 100px;
    z-index: -1;
}
.lines {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 5px;
    margin-left: 5px;
    opacity: .8;
}
.fa-long-arrow-alt-up {
    transform-origin: center;
    height: 19.4px !important;
    align-self: center;
}
.line {
    background-color: white;
    width: 15px;
    height: 2px;
}
.themeMenu h3 {
    font-size: 1.2rem;
    cursor: default; 
}
.themeMenu ul {
    display: none;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    cursor: default;
}
.themeOptions.show {
    display: flex;
    margin-bottom: 5px;
}
.title {
    position: fixed;
    color: black;
    font-size: 3.0rem;
    top: 250px;
    transition: .5s;
    opacity: 0.7;
}
/* --------------------------------------> search form <------------------------------------ */
form {
    display: grid;
    grid-template-columns: minmax(300px, 50%);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,.1);
    margin-top: 20px;
}
form input {
    /* background-color: #199BB3; */
    background-color: rgba(25,155,179,1);
    border: 0;
    height: 30px;
    text-indent: 8px;
    font-size: 1.2rem;
    font-family: Calibri , sans-serif;
    color: rgba(255,255,255,1);
    opacity: .6;
}
form input:focus {
    border: none;
    outline: none;
    color: rgba(255,255,255,1);
    opacity: 1;
}
form button {
    background-color: #0E5966;
    border: 0;
    color: white;
    height: 30px;
    font-size: 1.1rem;
}
form button:hover {
    opacity: 0.7;
}
/* --------------------------------------> search prompt <------------------------------------ */
h2 {
    margin-top: 20px;
    color: rgba(0,0,0,.7);
    transition: .5s;
}
.fade {
transform: scale(0.2);
opacity: 0;
}
/* --------------------------------------> weather info <------------------------------------ */
.infoContainer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin-top: 50px;
    padding: 15px;
    color: white;
    border-radius: 10px;
    background-color: #0E5966;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,.2);
    margin-bottom: 40px;
    margin-right: 0;
    transition: transform .25s, opacity 0.25s;
}
.swipe {
    transform: translateX(-1500px);
    opacity: 0;
}
.areaName {
    margin-top: 50px;
    margin-bottom: -5px;
    font-size: 3rem;
}
.swipeRight {
    transform: translateX(1500px);
    opacity: 0;
}
.areaInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .5s,opacity .5s;
    color: white;
}
h3 {
    font-size: 1rem;
}
.countryName {
    margin-bottom: -5px;
    opacity: .7;
}
.localTime {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    opacity: .7;
}
.time {
    display: flex;
    margin-left: 5px;
    opacity: 1;
}
.seconds {
    margin-top: 3px;
    margin-left: 1px;
    font-size: .8rem;
    opacity: .7;
}
.weatherinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;;
}
.info {
    margin: 3px;
    background-color: rgba(255,255,255,.2);
    border-radius: 10px;
    padding: 5px;
    height: fit-content;
    width: fit-content;
    opacity: .8;
    font-weight: 300;
}
h4 {
    display: flex;
    justify-content: space-between;
    background-color: #4B9CAA;
    color: rgba(255,255,255,1);
    padding: 5px;
    border-radius: 10px;
    margin: 4px;
}
/* --------------------labels------------------------- */
.label {
    width: 300px;
    transition: transform .5s;
}
.label:hover {
    transform: translateX(20px);
}
.type {
    opacity: .8;
    font-style: italic;
}
.data {
 color: rgba(265,255,255,1);
 opacity: 1;
}
/* ---------temperature colors------------- */
.hot {
    color: red;
}
.med {
    color: orange;
}
.cold {
    color: cyan;
}
/* --------wind direction arrow -----------*/
#arrow {
    margin-right: 10px;
}
@media screen and (min-width: 768px) {
.weatherinfo {
    flex-direction: row;
}
}
}
